{% extends "layout.html" %}
{% block title %}
    Character Creation Step 5:
{% endblock %}
{% block content %}

<strong>Pick your class equipment!</strong>
<form action="/createCharacterStep6" method="post">
<br><br>

<table>
  <tr>
  {%for part in range(num_options)%}
  <th >Option {{part}}  </th>
  {% endfor %}
  </tr>

  <tr>
{%for part in range(num_options)%}
<td>
  <select name="option{{part}}" id={{part}}>

  {%for piece in DND_equipment_options[part] %}

    <option value="{{piece}}">
      {%for scrap in piece%}
      {{scrap}}  
      /
    {%endfor%}</option>

  {%endfor%}
</select>
</td>
{%endfor%}
</select>
</tr>

</table>



  <input type="submit" value="Next Step"></button>
  <input type="text" name="className" id="className" value = {{DNDclass}} hidden><br>
  <input type="text" name="backgroundName" id="backgroundName" value = "{{DNDbackground}}" hidden><br>
  <input type="text" name="raceName" id="raceName" value = {{DNDrace}} hidden><br>

</form>



{% endblock %}