{% extends "layout.html" %}
{% block title %}
    Character Creation Step 7:
{% endblock %}
{% block content %}
<strong>What do you look like?</strong> 

<br>
<br>

Remember that you are a <u>{{DNDrace}}</u> that grew up as a(n) <u>{{DNDbackground}}</u>, and now you are a <u>{{DNDclass}}</u> ready to adventure!

<br>
<br>

<form action="/createCharacterStep8" method="post">

  <label for="char_name">Name:</label>
  <input type="text" id="char_name" name="char_name"><br><br>

  <label for="alignment">Alignment:</label>
  <input type="text" id="alignment" name="alignment"><br><br>

  <label for="age">Age:</label>
  <input type="number" id="age" name="age"><br><br>

  <label for="eye_color">Eye Color:</label>
  <input type="text" id="eye_color" name="eye_color"><br><br>

  <label for="h_feet">Height (feet,inches)</label>
  <input type="number" id="h_feet" name="h_feet"> , 
  <input type="number" id="h_inches" name="h_inches"><br><br>

  <label for="weight">Weight (pounds):</label>
  <input type="number" id="weight" name="weight"><br><br>

  <label for="skin_color">Skin Color:</label>
  <input type="text" id="skin_color" name="skin_color"><br><br>

  <label for="hair_color">Hair Color:</label>
  <input type="text" id="hair_color" name="hair_color"><br><br>
  
  <input type="text" name="className" id="className" value = {{DNDclass}} hidden><br>
  <input type="text" name="backgroundName" id="backgroundName" value = "{{DNDbackground}}" hidden><br>
  <input type="text" name="raceName" id="raceName" value = {{DNDrace}} hidden><br>


  <input type="submit" value="Submit">
</form>
{% endblock %}