{% extends "layout.html" %}
{% block title %}
    Character Creation Step 2: Ability Scores and Health
{% endblock %}
{% block content %}
<style>
  td {
    border: 1px solid black;
  }
  </style>


<p>You have chosen:
  <br>
  <strong>Class: </strong>{{DNDclass}}
  <br> <strong>Race: </strong>{{DNDrace[0]}}
  <br> <strong>Background: </strong>{{DNDbackground}}</p>

<table>
  

  <tr>
    <th>Change?</th>
    <th>Ability</th>
    <th>Raw Score</th>
    <th>Race Bonus</th>
    <th>Final Score</th>
    <th>Modifier</th>
  </tr>
  

  <tr>
    <td><button onclick= "flip(0)" > ↓ down </button></td>
    <td>Strength</td>
    <td id = "rawSTR"></td>
    <td id = "raceSTR"></td>
    <td id = "STR">  </td>
    <td id = "modSTR">  </td>
  </tr>
  <tr>
    <td><button onclick= "flip(1)" > ↓ down</button></td>
    <td>Dexterity</td>
    <td id = "rawDEX"></td>
    <td id = "raceDEX"></td>
    <td id = "DEX">  </td>
    <td id = "modDEX">  </td>
  </tr>
  <tr>
    <td><button onclick= "flip(2)" > ↓ down</button></td>
    <td>Constitution</td>
    <td id = "rawCON"></td>
    <td id = "raceCON"></td>
    <td id = "CON">  </td>
    <td id = "modCON">  </td>
  </tr>
  <tr>
    <td><button onclick= "flip(3)" > ↓ down</button></td>
    <td>Intelligence</td>
    <td id = "rawINT"></td>
    <td id = "raceINT"></td>
    <td id = "INT">  </td>
    <td id = "modINT">  </td>
  </tr>
  <tr>
    <td><button onclick= "flip(4)" > ↓ down</button></td>
    <td>Wisdom</td>
    <td id = "rawWIS"></td>
    <td id = "raceWIS"></td>
    <td id = "WIS">  </td>
    <td id = "modWIS">  </td>
  </tr>
  <tr>
    <td><button onclick= "flip(5)" > ↑ up</button></td>
    <td>Charisma</td>
    <td id = "rawCHA"></td>
    <td id = "raceCHA"></td>
    <td id = "CHA"> </td>
    <td id = "modCHA">  </td>
  </tr>
</table>
  
<button id = "roll_button" onclick="get_scores()">
  Roll for Stats
</button>

<button id = "standard_button" onclick="standard_scores()">
  Take the Standard
</button>

<script>
  function get_scores() {
      document.getElementById('rawSTR').innerHTML 
          = roll();
      document.getElementById('rawDEX').innerHTML 
          = roll();
      document.getElementById('rawCON').innerHTML 
          = roll();
      document.getElementById('rawINT').innerHTML 
          = roll();
      document.getElementById('rawWIS').innerHTML 
          = roll();
      document.getElementById('rawCHA').innerHTML 
          = roll();   
      add_raw_race()

    document.getElementById("roll_button").style.display = "none";
    document.getElementById("standard_button").style.display = "none";}
</script>

<script>
  function standard_scores() {
      document.getElementById('rawSTR').innerHTML 
          = 15;
      document.getElementById('rawDEX').innerHTML 
          = 14;
      document.getElementById('rawCON').innerHTML 
          = 13;
      document.getElementById('rawINT').innerHTML 
          = 12;
      document.getElementById('rawWIS').innerHTML 
          = 10;
      document.getElementById('rawCHA').innerHTML 
          = 8;
      add_raw_race()

    document.getElementById("roll_button").style.display = "none";
    document.getElementById("standard_button").style.display = "none";}
</script>

<script>
  function roll() {
    var AB = 0;
    let AB_rolls = [0,0,0,0]

    for (let i = 0; i < 4; i++) {
      AB_rolls[i] +=  Math.floor((Math.random() * 6) + 1);}
    
    AB_rolls.sort()

    for (let i = 0; i < 3; i++) {
      AB +=  AB_rolls[i+1]}
    return AB;
    
  }
</script>

<script>
  function add_raw_race() {
    
    document.getElementById('STR').innerHTML = Number(document.getElementById('rawSTR').innerHTML) + Number(document.getElementById('raceSTR').innerHTML) 
    document.getElementById('DEX').innerHTML = Number(document.getElementById('rawDEX').innerHTML) + Number(document.getElementById('raceDEX').innerHTML) 
    document.getElementById('CON').innerHTML = Number(document.getElementById('rawCON').innerHTML) + Number(document.getElementById('raceCON').innerHTML) 
    document.getElementById('INT').innerHTML = Number(document.getElementById('rawINT').innerHTML) + Number(document.getElementById('raceINT').innerHTML) 
    document.getElementById('WIS').innerHTML = Number(document.getElementById('rawWIS').innerHTML) + Number(document.getElementById('raceWIS').innerHTML)
    document.getElementById('CHA').innerHTML = Number(document.getElementById('rawCHA').innerHTML) + Number(document.getElementById('raceCHA').innerHTML) 

    document.getElementById('ABSTRinput').value = Number(document.getElementById('STR').innerHTML)
    document.getElementById('ABDEXinput').value = Number(document.getElementById('DEX').innerHTML)
    document.getElementById('ABCONinput').value = Number(document.getElementById('CON').innerHTML)
    document.getElementById('ABINTinput').value = Number(document.getElementById('INT').innerHTML)
    document.getElementById('ABWISinput').value = Number(document.getElementById('WIS').innerHTML)
    document.getElementById('ABCHAinput').value = Number(document.getElementById('CHA').innerHTML)
    modifier()
    document.getElementById('ABSTRmodinput').value = Number(document.getElementById('modSTR').innerHTML)
    document.getElementById('ABDEXmodinput').value = Number(document.getElementById('modDEX').innerHTML)
    document.getElementById('ABCONmodinput').value = Number(document.getElementById('modCON').innerHTML)
    document.getElementById('ABINTmodinput').value = Number(document.getElementById('modINT').innerHTML)
    document.getElementById('ABWISmodinput').value = Number(document.getElementById('modWIS').innerHTML)
    document.getElementById('ABCHAmodinput').value = Number(document.getElementById('modCHA').innerHTML)
    }
</script>

<script>
  function flip(AB) {
    ABS = ["rawSTR", "rawDEX", "rawCON", "rawINT", "rawWIS", "rawCHA"]
    
    if (AB <5){ var change = AB+1}
    else {var change = AB-1}

    var ab1 = Number(document.getElementById(ABS[AB]).innerHTML)
    document.getElementById(ABS[AB]).innerHTML = Number(document.getElementById(ABS[change]).innerHTML)
    document.getElementById(ABS[change]).innerHTML = ab1
    add_raw_race()
    ABscore_submit()    
    
    }
</script>

<script>
function modifier()
{
 let pair = ['modSTR', 'STR', 'modDEX', 'DEX', 'modCON', 'CON', 'modINT', 'INT', 'modWIS', 'WIS', 'modCHA', 'CHA']

 for (let i = 0; i < 6; i++) {
  var mod = Math.floor((Number(document.getElementById(pair[2*i+1]).innerHTML)-10)/2)
  if (mod > 0){
    document.getElementById(pair[2*i]).innerHTML = "+" + mod
    }
  else{
    document.getElementById(pair[2*i]).innerHTML = mod
  }
 }


}

</script>
<br>
<br>
<strong> You only get <u>ONE CHANCE</u> to get your ability scores and you have two options! </strong>
<br>
<em> 1 - Roll for your scores - This is a more risky choice that could give you better or worse scores than average</em>
<br>
<em> 2 - Take the standard scores - This is a more stable choice that gives you scores that are premade and will not be as risky</em>

<br>
<br>

<script>
  function race_bonus(){
    let AB = ['raceSTR', 'raceDEX', 'raceCON', 'raceINT', 'raceWIS', 'raceCHA']
    let ABname = ['Strength', 'Dexterity', 'Constitution', 'Intelligence', 'Wisdom', 'Charisma']
    
    var Ability1 = document.getElementById('AB1').innerHTML
    var Ability2 = document.getElementById('AB2').innerHTML
    var AbilityScore1 = Number(document.getElementById('ABscore1').innerHTML)
    var AbilityScore2 = Number(document.getElementById('ABscore2').innerHTML)

    for(let i = 0; i<6; i++){
      if(Ability1 == ABname[i]){
        document.getElementById(AB[i]).innerHTML = AbilityScore1
      }
    if(Ability2 == ABname[i]){
        document.getElementById(AB[i]).innerHTML = AbilityScore2
      }
  }
  if (document.getElementById('raceName').innerHTML == "Human"){
    for(i=0; i<6; i++)
    {
      document.getElementById(AB[i]).innerHTML = 1
    }
  }
}
window.onload = race_bonus;
</script>
<p id = "className" hidden>{{DNDclass}}</p>
<p id = "backgroundName" hidden>{{DNDbackground}}</p>
<p id = "raceName" hidden>{{DNDrace[0]}}</p>
<p id = "AB1" hidden>{{DNDrace[1]}}</p>
  <p id = "AB2" hidden>{{DNDrace[2]}}</p>
  <p id = "ABscore1" hidden >{{DNDrace[3]}}</p>
  <p id = "ABscore2" hidden >{{DNDrace[4]}}</p>


<form action="/createCharacterStep3" method="post">

  <input type="submit" value="Next Step"></button>
  <input type="text" name="DNDclass" id="DNDclass" value = {{DNDclass}} hidden><br>
  <input type="text" name="DNDrace" id="DNDrace" value = {{DNDrace[0]}} hidden><br>
  <input type="text" name="DNDbackground" id="DNDbackground" value = "{{DNDbackground}}" hidden><br>

  <input type="text" name="ABSTRinput" id="ABSTRinput", value ="" hidden></input>
  <input type="text" name="ABDEXinput" id="ABDEXinput", value ="" hidden></input>
  <input type="text" name="ABCONinput" id="ABCONinput", value ="" hidden></input>
  <input type="text" name="ABINTinput" id="ABINTinput", value ="" hidden></input>
  <input type="text" name="ABWISinput" id="ABWISinput", value ="" hidden></input>
  <input type="text" name="ABCHAinput" id="ABCHAinput", value ="" hidden></input><br>

  <input type="text" name="ABSTRmodinput" id="ABSTRmodinput", value ="" hidden></input>
  <input type="text" name="ABDEXmodinput" id="ABDEXmodinput", value ="" hidden></input>
  <input type="text" name="ABCONmodinput" id="ABCONmodinput", value ="" hidden></input>
  <input type="text" name="ABINTmodinput" id="ABINTmodinput", value ="" hidden></input>
  <input type="text" name="ABWISmodinput" id="ABWISmodinput", value ="" hidden></input>
  <input type="text" name="ABCHAmodinput" id="ABCHAmodinput", value ="" hidden></input><br>

</form>
{% endblock %}