{% extends "layout.html" %}
{% block title %}
    Home_Register
{% endblock %}
{% block content %}
    <h1> Register </h1>

    <form action="/login" method="post">
        <div>
            <input autocomplete="off" autofocus="off" name ="username" placeholder="Username" type="text">
        </div>
        <div>
        <div>
            <input autocomplete="off" autofocus="off" name ="password" placeholder="Password" type="text">
        </div>
        <input type="submit" name="submit_button" value="Register" >
        <input type="submit" name="submit_button" value="Login">
    </form>
{% endblock %}