<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hello, Flask</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />

    </head>
    <body>
        <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Weapons</th>
            </tr>
            </thead>
            <tbody>
            {% for name in weaponName %}
                <tr>
                    <td>{{name}}</td>
                </tr>
            {% endfor %}    
            </tbody>

        </table>
        </div>
        <div>
            <form action="/query2">
                <button type="submit">Get Query 2</button>
            </form>
        </div>
    </body>
</html>