{% extends "layout.html" %}
{% block title %}
    Query 2
{% endblock %}
{% block content %}
        <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Weight</th>
                <th>Category</th>                                                
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.weight}}</td>
                    <td>{{item.category}}</td>                                                            
                </tr>
            {% endfor %}    
            </tbody>
        </table>
        </div>
{% endblock %}