{% extends "layout.html" %}
{% block title %}
    Spells
{% endblock %}
{% block content %}
<input onekeyup = "myFunction()" id = "Input" placeholder="Search in Table">

<ul></ul>

    <script src=
        "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>

    <script>
        $(document).ready(function() {
            $("#Input").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#spell tr").filter(function() {
                    $(this).toggle($(this).text()
                    .toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <div class="container">
    <table id = "Spells" class="table" border = "1" cellpadding = "1" cellspacing = "1">
        <!-- <caption style = "font-size: 24px">Spells</caption> -->
        <thead>
        <tr class = "header" >
            <th style = "background-color: rgb(165, 137, 61)">Name</th>
            <th style = "background-color: rgb(165, 137, 61)">Level</th>
            <th style = "background-color: rgb(165, 137, 61)">School</th>
            <th style = "background-color: rgb(165, 137, 61)">Class</th>
            <th style = "background-color: rgb(165, 137, 61)">Casting Time</th>
            <th style = "background-color: rgb(165, 137, 61)">Spell Range</th>
            <th style = "background-color: rgb(165, 137, 61)">Components</th>
            <th style = "background-color: rgb(165, 137, 61)">Duration</th>
            <th style = "background-color: rgb(165, 137, 61)">Description</th>
        </tr>
        </thead>
        <tbody id = "spell">
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.level}}</td>
                <td>{{item.school}}</td>
                <td>{{item.classes}}</td>
                <td>{{item.Casting_Time}}</td>
                <td>{{item.spellRange}}</td>
                <td>{{item.Components}}</td>
                <td>{{item.Duration}}</td>
                <td>
                    <details>
                    <summary> Show Description</summary>
                    {{item.description}}
                    </details>
                </td>
            </tr>
        {% endfor %}    
        </tbody>

    </table>
    </div>

    <!-- <div>
        <h6> Random A New Spell </h6>
        <form action="/randomNewSpell">
            <input type="submit" value="Random">
        </form>
    </div> -->

    <p></p>
    <details>
            <summary>   Delete</summary>
        <p></p>
            <form action="/removeSpell" method="post">
            <input autocomplete="off" autofocus="off" placeholder="spell name" name="spellName" type="text"><br>
            <button type="submit">Submit</button>
            </form>
    </details>

    <p></p>
    <details>
            <summary>   Update values </summary>
        <p></p>
            <form action="/updSpell" method="post">
            <input type="text" id="oldSpellname" name="oldSpellname" placeholder="old spell name"><br>
            <input type="text" id="newSpellname" name="newSpellname" placeholder="new spell name"><br>
            <button type="submit">Submit</button>
            </form>
    </details>

    <p></p>
    <details>
            <summary>   Add values </summary>
        <p></p>
            <form action="/addSpell" method="post">
            <input type="text" id="name" name="name" placeholder="name"><br>
            <input type="text" id="level" name="level" placeholder="level"><br>
            <input type="text" id="school" name="school" placeholder="school"><br>
            <input type="text" id="classes" name="classes" placeholder="classes"><br>
            <input type="text" id="Casting_Time" name="Casting_Time" placeholder="casting time"><br>
            <input type="text" id="spellRange" name="spellRange" placeholder="spell range"><br>
            <input type="text" id="Components" name="Components" placeholder="components"><br>
            <input type="text" id="Duration" name="Duration" placeholder="duration"><br>
            <input type="text" id="description" name="description" placeholder="description"><br>
            <button type="submit">Submit</button>
            </form>
    </details>
    <p></p>

{% endblock %}