{% extends "layout.html" %}
{% block title %}
    Weapon
{% endblock %}
{% block content %}
    <div class="container">
    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Cost</td>
            <td>Damage</td>
            <td>Damage Type</td>
            <td>Weight</td>
            <td>Properties</td>
            <td>Category</td>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.cost}}</td>
                <td>{{item.damage}}</td>
                <td>{{item.damageType}}</td>
                <td>{{item.weight}}</td>
                <td>{{item.properties}}</td>
                <td>{{item.category}}</td>
            </tr>
        {% endfor %}    
        </tbody>

    </table>
    </div>
    <div>
        <form action="/removeWeapon" method="post">
            <input autocomplete="off" autofocus="off" placeholder="Weapon Name" name="weaponName" type="text">
            <input type="submit" name="submit_button" value="Remove">
        </form>
    </div>
{% endblock %}