{% extends "layout.html" %}
{% block title %}
    Weapon
{% endblock %}
{% block content %}
    <div class="container">
    <table class="table">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Cost</th>
                <th scope="col">Damage</th>
                <th scope="col">Damage Type</th>
                <th scope="col">Weight</th>
                <th scope="col">Properties</th>
                <th scope="col">Category</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}

                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.cost}}</td>
                    <td>{{item.damage}}</td>
                    <td>{{item.damageType}}</td>
                    <td>{{item.weight}}</td>
                    <td>{{item.properties}}</td>
                    <td>{{item.category}}</td>
                </tr>
            {% endfor %}    
            </tbody>
        </table>
    </div>

    <div>
        <h3> Random A New Weapon </h3>
        <form action="/randomNewWeapon">
            <input type="submit" value="Random">
        </form>
    </div>

    <div>
        <h3> Delete values </h3>
        <form action="/removeWeapon" method="post">
            <input autocomplete="off" autofocus="off" placeholder="Weapon Name" name="weaponName" type="text">
            <input type="submit" name="submit_button" value="Remove">
        </form>
    </div>

    <div>
        <h3> Update values </h3>
            <form action="/updWeapon" method="post">
            <label for="name">Old Weapon name:</label><br>
            <input type="text" id="oldname" name="oldname"><br>
            <label for="cost">New Weapon name:</label><br>
            <input type="text" id="newname" name="newname"><br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div>
        <h3> Add values </h3>
            <form action="/add" method="post">
            <label for="name">Weapon name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="cost">Cost:</label><br>
            <input type="text" id="cost" name="cost"><br>
            <label for="damage">Damage:</label><br>
            <input type="text" id="damage" name="damage"><br>
            <label for="damageType">Damage Type:</label><br>
            <input type="text" id="damageType" name="damageType"><br>
            <label for="weight">Weight:</label><br>
            <input type="text" id="weight" name="weight"><br>
            <label for="properties">Properties:</label><br>
            <input type="text" id="properties" name="properties"><br>
            <label for="category">Category:</label><br>
            <input type="text" id="category" name="category"><br>
            <button type="submit">Submit</button>
            </form>
        </div>
{% endblock %}